@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Div_FullViewOfCountry_CSS {
  width: 80%;
  height: fit-content;
  margin: 50px auto;
  font-family: "Nunito Sans", sans-serif;
  color: var(--text-color);
  animation: FadeIn 500ms;
}
.Div_BackButton_CSS {
  height: 80px;
}
.P_BackButton_CSS {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 7px 25px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  transition: 200ms;
  color: var(--text-color);
  box-shadow: 0px 0px 2px 0px var(--box-shadow);
}
.P_BackButton_CSS:hover {
  cursor: pointer;
  background-color: var(--second-bg-color);
}
.I_BackButton_CSS {
  color: var(--text-color);
}
.Div_CountryFullDetiel_CSS {
  display: flex;
  font-size: 13px;
  font-weight: 300;
}
.Img_CountryImageFullView_CSS {
  width: 410px;
  height: 310px;
  object-fit: cover;
  border-radius: 3px;
}
.Div_CountryDetiel_CSS {
  margin-left: 15px;
}
.Div_CountryNameFullView_CSS {
  margin-top: 30px;
  margin-left: 60px;
}
.P_CountryNameFullView_CSS {
  font-size: 20px;
  font-weight: 800;
}
.Div_CountryDetielFirstChildFullView_CSS {
  display: flex;
  align-items: flex-end;
}
.Div_CountryDetielFirstChild_01_FullView_CSS {
  margin-left: 60px;
  height: fit-content;
}
.Div_CountryDetielFirstChild_02_FullView_CSS {
  margin-left: 130px;
  height: 129px;
}
.Div_CountryDetailContainerSecondChildFullView_CSS {
  margin-left: 60px;
  display: flex;
  flex-wrap: wrap;
}
.P_CountryBorderCountriesFullView_CSS {
  align-items: center;
  min-width: fit-content;
  font-size: 13px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-weight: 600;
}
.P_CountryBorder_CSS {
  font-weight: 300;
  margin-left: 5px;
  padding: 3px 5px 3px 5px;
  border-radius: 3px;
  min-width: fit-content;
  box-shadow: 0px 0px 2px 0px var(--box-shadow);
  transition: 200ms;
}
.P_CountryBorder_CSS:hover {
  cursor: pointer;
  background-color: var(--second-bg-color);
}
