.tip{
  display:none;
}

.Div_CountriesRegion_CSS {
  width: 170px;
  height: 40px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: none;
  margin-right: 120px;
  text-indent: 15px;
  transition: 200ms;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--second-bg-color);
  color: var(--text-color);
  box-shadow: 0px 0px 2px 0px var(--box-shadow);
  font-family: "Nunito Sans", sans-serif;
}
.Div_CountriesRegion_CSS:hover {
  cursor: pointer;
}
.Div_CountriesRegion_CSS:hover > .P_SelectedRegion_CSS {
  background-color: var(--menu-item-hover-bg-color);
}
.P_SelectedRegion_CSS,
.P_Region_CSS {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 3px 0px;
  width: 170px;
  height: 40px;
  transition: 200ms;
  font-size: 14px;
  font-weight: 600;  
  animation: FadeIn 200ms;
  transition: 200ms;
}
.P_Region_CSS {
  display: none;
  border-left: 0.5px solid var(--box-shadow);
  border-right: 0.5px solid var(--box-shadow);
  margin: 0px;
  background-color: var(--second-bg-color);
  z-index: 1000;
}
.P_Region_CSS:hover {
  background-color: var(--menu-item-hover-bg-color);
}
.P_Region_CSS:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: 0.5px solid var(--box-shadow);
}
.I_DownSymbol_CSS {
  position: absolute;
  margin-left: 130px;
  margin-top: 11px;
  font-size: 15px;
}
