@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Div_ShowAllCountries_CSS{
  animation: FadeIn 500ms;
}
.Div_SearchBar_CSS {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
